In [ ]:
import pandas as pd
from google.colab import files
import matplotlib.pyplot as plt

In [ ]:
uploaded = files.upload()

Saving CC GENERAL.csv to CC GENERAL.csv

In [ ]:
df = pd.read_csv('CC GENERAL.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [ ]:
df=df.drop(columns=['CUST_ID'])
df.head()

       BALANCE  BALANCE_FREQUENCY  ...  PRC_FULL_PAYMENT  TENURE
0    40.900749           0.818182  ...          0.000000      12
1  3202.467416           0.909091  ...          0.222222      12
2  2495.148862           1.000000  ...          0.000000      12
3  1666.670542           0.636364  ...          0.000000      12
4   817.714335           1.000000  ...          0.000000      12

[5 rows x 17 columns]

In [ ]:
df["MINIMUM_PAYMENTS"]=df["MINIMUM_PAYMENTS"].fillna(value=0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BALANCE                           8950 non-null   float64
 1   BALANCE_FREQUENCY                 8950 non-null   float64
 2   PURCHASES                         8950 non-null   float64
 3   ONEOFF_PURCHASES                  8950 non-null   float64
 4   INSTALLMENTS_PURCHASES            8950 non-null   float64
 5   CASH_ADVANCE                      8950 non-null   float64
 6   PURCHASES_FREQUENCY               8950 non-null   float64
 7   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 8   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 9   CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 10  CASH_ADVANCE_TRX                  8950 non-null   int64
 11  PURCHASES_TRX                     8950 non-null   int64
 12  CREDIT_LIMIT                      8949 non-null   float64
 13  PAYMENTS                          8950 non-null   float64
 14  MINIMUM_PAYMENTS                  8950 non-null   float64
 15  PRC_FULL_PAYMENT                  8950 non-null   float64
 16  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3)
memory usage: 1.2 MB

In [ ]:
df1=df[df['BALANCE']<df['BALANCE'].quantile(.95)]
df1=df1[df1['PURCHASES']<df['PURCHASES'].quantile(.95)]
df1=df1[df1['MINIMUM_PAYMENTS']<df['MINIMUM_PAYMENTS'].quantile(.95)]
df1=df1[df1['PAYMENTS']<df['PAYMENTS'].quantile(.95)]
df1=df1[df1['CREDIT_LIMIT']<df['CREDIT_LIMIT'].quantile(.95)]
df1=df1[df1['PURCHASES_TRX']<df['PURCHASES_TRX'].quantile(.95)]
df1=df1[df1['ONEOFF_PURCHASES']<df['ONEOFF_PURCHASES'].quantile(.95)]
df1=df1[df1['CASH_ADVANCE']<df['CASH_ADVANCE'].quantile(.95)]
df1=df1[df1['CASH_ADVANCE_TRX']<df['CASH_ADVANCE_TRX'].quantile(.95)]

In [ ]:
df1['CREDIT_LIMIT'].std()

2465.557204505654

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6879 entries, 0 to 8949
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BALANCE                           6879 non-null   float64
 1   BALANCE_FREQUENCY                 6879 non-null   float64
 2   PURCHASES                         6879 non-null   float64
 3   ONEOFF_PURCHASES                  6879 non-null   float64
 4   INSTALLMENTS_PURCHASES            6879 non-null   float64
 5   CASH_ADVANCE                      6879 non-null   float64
 6   PURCHASES_FREQUENCY               6879 non-null   float64
 7   ONEOFF_PURCHASES_FREQUENCY        6879 non-null   float64
 8   PURCHASES_INSTALLMENTS_FREQUENCY  6879 non-null   float64
 9   CASH_ADVANCE_FREQUENCY            6879 non-null   float64
 10  CASH_ADVANCE_TRX                  6879 non-null   int64
 11  PURCHASES_TRX                     6879 non-null   int64
 12  CREDIT_LIMIT                      6879 non-null   float64
 13  PAYMENTS                          6879 non-null   float64
 14  MINIMUM_PAYMENTS                  6879 non-null   float64
 15  PRC_FULL_PAYMENT                  6879 non-null   float64
 16  TENURE                            6879 non-null   int64
dtypes: float64(14), int64(3)
memory usage: 967.4 KB